.interval.btn-group
  %button{ :class => 'btn dropdown-toggle', :'data-toggle' => 'dropdown'}
    Interval - 
    %span.current_value
    %span.caret
  %ul{ :class => 'dropdown-menu' }
    %li
      %a{ :href => '#', :name => '5min' } 5 minutes
    %li
      %a{ :href => '#', :name => '15min' } 15 minutes
    %li
      %a{ :href => '#', :name => '30min' } 30 minutes
    %li
      %a{ :href => '#', :name => '1h' } 1 hour
    %li
      %a{ :href => '#', :name => '61m' } 61 minutes
    %li
      %a{ :href => '#', :name => '3h' } 3 hours
    %li
      %a{ :href => '#', :name => '6h' } 6 hours
    %li
      %a{ :href => '#', :name => '12h' } 12 hours
    %li
      %a{ :href => '#', :name => '24h' } 1 day
    %li
      %a{ :href => '#', :name => '25h' } 25 hours
    %li
      %a{ :href => '#', :name => '1w' } 1 week
    %li
      %a{ :href => '#', :name => '8d' } 8 days
    %li
      %a{ :href => '#', :name => '4w' } 1 month
    %li
      %a{ :href => '#', :name => '5w' } 5 weeks
    %li
      %a{ :href => '#', :name => '3mon' } 3 months
    %li
      %a{ :href => '#', :name => '6mon' } 6 months
    %li
      %a{ :href => '#', :name => '1y' } 1 year
    %li
      %a{ :href => '#', :name => '13m' } 13 months
